<div class="nav-title" ng-click="goBack()">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
       height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
    <polyline fill="none" stroke="#6D6D6D" stroke-miterlimit="10" points="10.315,2.602 0.96,12.14 10.315,21.678 			"/>
    <line fill="none" stroke="#6D6D6D" stroke-miterlimit="10" x1="0.96" y1="12.141" x2="23.478" y2="12.141"/>
  </svg>
  <p translate="projectDomain.connect.title">conectar domínio personalizado</p>
</div>

<a href="http://{{ project.safeName }}.habemus.website" target="_blank" class="">http://{{ project.safeName }}.habemus.website</a>

<div class="margin-bottom max-width">
  <p translate="projectDomain.connect.p1">Conecte um domínio que você possui ao seu projeto.</p>
  <p translate="projectDomain.connect.p2">Se você ainda não possui um domínio, escolha um provedor de domínios para realizar a aquisição.</p>
</div>

<form ng-submit="saveConnection()">
  <div
    class="field-container max-width"
    validate-on="change"
    ng-class="{'error': errorMessage}">
    <label translate="projectDomain.connect.nameOfDomain">nome do domínio</label><br>
    <input
      autofocus
      ng-model="domainName"
      type="text"
      name="domain-name"
      placeholder="exemplo.com"
    >
    <div class="field-error-message">{{ errorMessage }}</div>
  </div>

  <button class="button" type="submit" translate="projectDomain.connect.continue">continuar</button>

</form>
