<div id="project-files-content">
  <h1><a href="#/">meus projetos</a>  
    <img class="arrow-right" src="resources/img/arrow-right.svg">
    <span class="project-name" ng-click="editNameOfProject()">{{ project.name }} </span> 
    <span class="section-name">(arquivos)</span>
  </h1>
  
  <div class="main-content">
    <div 
      class="file-tree"
      ui-tree="uiTreeOptions"
      file-drop-container>
      <ul
        id="tree-root"
        class="directory-contents"
        ui-tree-nodes
        ng-model="project.rootDirectory"
        ng-class="{ empty: project.rootDirectory.isEmpty }"
        file-drop="uploadFiles(project.rootDirectory, $files)">
        <li
          ng-repeat="entry in project.rootDirectory.entries"
          ui-tree-node
          collapsed="true"
          ng-include="'views/project/partials/entry-template.html'">
        </li>
      </ul>
    </div>
    
<!--
    <div>
      <ul>
        <li>lista</li>
      </ul>
    </div>
-->
    
  </div>
  
  <!-- draggable area -->
  <div class="drop-to-new-project-container">
    <div class="drop-to-new-project" file-drop="uploadNewVersion($files)">
      <input
        type="file"
        file-change="uploadNewVersion($files)"
        webkitdirectory
        directory
        multiple>

      <div class="upload-img"></div>
 
      <h3 class="default">arraste a pasta inteira do projeto para atualizar</h3>
      <h3 class="while-dragging">solte aqui</h3>
    </div>
  </div>  
  
</div>
