<div class="nav-title" ng-click="goBack()">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
       height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
    <polyline fill="none" stroke="#6D6D6D" stroke-miterlimit="10" points="10.315,2.602 0.96,12.14 10.315,21.678 			"/>
    <line fill="none" stroke="#6D6D6D" stroke-miterlimit="10" x1="0.96" y1="12.141" x2="23.478" y2="12.141"/>
  </svg>
  <p>renomear domínio</p>
</div>

<a href="http://{{ project.safeName }}.habemus.website" target="_blank" class="">http://{{ project.safeName }}.habemus.website</a>

<div class="max-width">
  <div class="margin-bottom">
    <p>Esse é o seu domínio habemus.</p>
    <p>Através dele, seu site pode ser acessado.</p>
    <p>Você pode renomeá-lo se desejar.</p>
    <br>
    <p style="color: #E29A27"><span >Atenção:</span> Ao renomear o domínio habemus, o link será alterado e o link antigo não funcionará mais.</p>
  </div>

  <form ng-submit="setProjectSafeName()">
    <div class="input-button">
      <input placeholder="{{ project.safeName }}" ng-model="newSafeName">
      <button class="button secundary">renomear domínio</button>
    </div>
    <div>{{ error }}</div>
  </form>
</div>