<div class="nav-title" ng-click="goBack()">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
       height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
    <polyline fill="none" stroke="#6D6D6D" stroke-miterlimit="10" points="10.315,2.602 0.96,12.14 10.315,21.678 			"/>
    <line fill="none" stroke="#6D6D6D" stroke-miterlimit="10" x1="0.96" y1="12.141" x2="23.478" y2="12.141"/>
  </svg>
  <p>{{ domainRecord.hostname }}</p>
</div>

<div class="progress-text margin-bottom" ng-show="inProgress">
  <p style="color: #E29A27" translate="projectDomain.dns.connectionInProgress"></p>
  <p style="color: #E29A27" translate="projectDomain.dns.setupYourDomain"></p>
  <br>
  <p translate="projectDomain.dns.providerSettingsInstructions"></p>
  <br>
  <p translate="projectDomain.dns.dnsConfigDelayExplanation"></p>
</div>

<div class="ready-text margin-bottom" ng-hide="inProgress">
  <p translate="projectDomain.dns.providerSettingsInstructions"></p>
  <br>
  <p translate="projectDomain.dns.dnsConfigDelayExplanation"></p>
</div>

<table id="dns-table">
  <tr class="table-header">
    <th translate="projectDomain.dns.host"></th>
    <th translate="projectDomain.dns.recordType"></th> 
    <th>
      <span
        uib-tooltip="{{ 'projectDomain.dns.requiredRecordDataTooltip' | translate }}"
        translate="projectDomain.dns.requiredRecordData">
      </span>
    </th>
    <th>
      <!-- copy button -->
    </th>
    <th>
      <span
        uib-tooltip="{{ 'projectDomain.dns.recordStatusTooltip' | translate }}"
        translate="projectDomain.dns.recordStatus">
      </span>
    </th>
    <th>
      <span
        uib-tooltip="{{ 'projectDomain.dns.recordDataStabilityTooltip' | translate }}"
        translate="projectDomain.dns.recordDataStability">
      </span>
    </th>
  </tr>
  <tr class="table-row-body" ng-repeat="dnsRecord in dnsRecords">
    <td>{{ dnsRecord.host || '@' }}</td>
    <td>{{ dnsRecord.type }}</td> 
    <td>
      <span
        uib-tooltip="{{ 'projectDomain.dns.requiredRecordDataTooltip' | translate }}">
        {{ dnsRecord.value }}
      </span>
    </td>
    <td>
      <button
        clipboard
        text="dnsRecord.value"
        on-copied="copySuccess()"
        on-error="copyFail(err)">
        {{ 'projectDomain.dns.copy' | translate }}
      </button>
    </td>
    <td ng-class="{ pending: dnsRecord.status == 'pending'  }">{{ ('projectDomain.dns.' + (dnsRecord.status || 'pending')) | translate }}</td>
    <td>{{ dnsRecord.stability || 0 }}</td>
  </tr>
</table>

<div class="dns-buttons">
  <div>
    <div ng-if="inProgress" class="button secundary" ng-click="loadDomainDnsConfigurations()" translate="projectDomain.dns.testConnection"></div>
    <a ng-if="!inProgress" target="_blank" href="http://{{ domainRecord.hostname }}">
      <div class="button secundary" translate="projectDomain.dns.testConnection"></div>
    </a>
  </div>
  <div class="progress" ng-show="verifying">
    <div class="pading-right" translate="projectDomain.dns.verifyingConnection"></div>
    <img src="resources/img/icon-progress.svg">
    
  </div>
</div>  
