<div class="nav-title" ng-click="goBack()">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
       height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
    <polyline fill="none" stroke="#6D6D6D" stroke-miterlimit="10" points="10.315,2.602 0.96,12.14 10.315,21.678 			"/>
    <line fill="none" stroke="#6D6D6D" stroke-miterlimit="10" x1="0.96" y1="12.141" x2="23.478" y2="12.141"/>
  </svg>
  <p>{{ domainRecord.domain }}</p>
</div>

<!-- status indicators -->
<!-- TODO: improve semantics of this code. Wait for design to be finished for it. -->
<div
  class="progress-text margin-bottom"
  ng-show="domainRecord.status.value === 'verifying' || domainRecord.status.value === 'pending-verification'">
  <p style="color: #E29A27" translate="projectDomain.dns.connectionInProgress"></p>
  <p style="color: #E29A27" translate="projectDomain.dns.setupYourDomain"></p>
  <br>
  <p translate="projectDomain.dns.providerSettingsInstructions"></p>
  <br>
  <p translate="projectDomain.dns.dnsConfigDelayExplanation"></p>
</div>

<div
  class="progress-text margin-bottom"
  ng-show="domainRecord.status.value === 'verification-failed-permanently'">
  <p translate="projectDomain.dns.verificationFailedPermanentlyExplanation"></p>
</div>

<div
  class="ready-text margin-bottom"
  ng-hide="domainRecord.status.value === 'verifying' || domainRecord.status.value === 'pending-verification'">
  <p translate="projectDomain.dns.providerSettingsInstructions"></p>
  <br>
  <p translate="projectDomain.dns.dnsConfigDelayExplanation"></p>
</div>
<!-- status indicators -->

<table id="dns-table">
  <tr class="table-header">
    <th translate="projectDomain.dns.host"></th>
    <th translate="projectDomain.dns.recordType"></th>
    <th colspan="2">
      <span
        uib-tooltip="{{ 'projectDomain.dns.requiredRecordDataTooltip' | translate }}"
        translate="projectDomain.dns.requiredRecordData">
      </span>
    </th>
    <th>
      <span
        uib-tooltip="{{ 'projectDomain.dns.recordStatusTooltip' | translate }}"
        translate="projectDomain.dns.recordStatus">
      </span>
    </th>
    <th>
      <span
        uib-tooltip="{{ 'projectDomain.dns.recordDataStabilityTooltip' | translate }}"
        translate="projectDomain.dns.recordDataStability">
      </span>
    </th>
  </tr>
  <tr class="table-row-body" ng-repeat="targetDNSRecord in targetDNSRecords">
    <td>{{ targetDNSRecord.host || '@' }}</td>
    <td>{{ targetDNSRecord.type }}</td> 
    <td>
      <button
        clipboard
        text="targetDNSRecord.targetValue"
        on-copied="copySuccess()"
        on-error="copyFail(err)">
        {{ 'projectDomain.dns.copy' | translate }}
      </button>
    </td>
    <td>
      <span
        uib-tooltip="{{ 'projectDomain.dns.requiredRecordDataTooltip' | translate }}">
        {{ targetDNSRecord.targetValue }}
      </span>
    </td>
    <td ng-class="{ pending: !targetDNSRecord.active  }">
      {{ targetDNSRecord.currentValue }}
      {{ ('projectDomain.dns.' + (targetDNSRecord.active ? 'completed' : 'pending')) | translate }}
    </td>
    <td>{{ targetDNSRecord.score || 0 }}</td>
  </tr>
</table>

<div class="dns-buttons">
  <div>
    <div
      ng-if="domainRecord.status.value === 'verification-failed-permanently'"
      class="button secundary"
      ng-click="restartVerification()"
      translate="projectDomain.dns.restartVerification">
    </div>
    <a
      ng-if="domainRecord.status.value === 'active'"
      target="_blank" href="{{ domainRecord.domain | urlWebsiteCustomDomain }}"
      >
      <div
        class="button secundary"
        translate="projectDomain.dns.testConnection">
      </div>
    </a>
  </div>
  <div class="progress" ng-show="verifying">
    <div class="pading-right" translate="projectDomain.dns.verifyingConnection"></div>
    <img src="resources/img/icon-progress.svg">
  </div>
</div>  
