#project-general-content {
  
  .main-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

  }

  .printscreen-container {
    width: 260px;
    height: 180px;
    overflow: hidden;
    margin-right: 20px;

    img {
      width: 100%;
    }
  }

  .info-container {
    a {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      color: @habemus-dark;
      transition: all 0.3s ease;
      margin-bottom: 12px;
      display: table; // link not fix all width
      line-height: 1;

      &:hover {
        color: @habemus-green-dark;
      }
    }
    
    .actions {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      
      a.action {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: @habemus-dark;
        transition: all 0.3s ease;
        display: table; // link not fix all width
        line-height: 1;

        margin-right: 32px;
        margin-bottom: 32px;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }
    
    // only last link has big margin-bottom
    .domains-list a:last-child {
      margin-bottom: 32px;
    }

    h4 {
      margin-bottom: 8px;
      
      &.no-margin {
        margin-bottom: 0;
      }
    }
  }
}



