<div id="project-general-content" file-drop-container>
  <h1>
    <a href="#/">meus projetos</a>  
    <img class="arrow-right" src="../../resources/img/arrow-right.svg">  
    {{ project.name }} 
<!--    <input placeholder="{{ project.name }}">-->
<!--
    <span class="input-button">
      <input placeholder="{{ project.name }}">
      <div class="button secundary">salvar</div>
    </span>
-->
    <span>(geral)</span>
  </h1>
  
  <div class="main-content">
    
<!--
    <div class="printscreen-container">
      <img src="../../resources/img/printscreen-3.png">
    </div>
-->
    
    <div class="info-container">
      <div class="domains-list">
        <a href="http://{{ project.safeName }}.habemus.xyz" target="_blank" >http://{{ project.safeName }}.habemus.xyz</a>
        <a ng-repeat="domain in project.domains" href="http://{{ domain.name }}" target="_blank">http://{{ domain.name }}</a>
      </div>
      <div id="actions">
        
        <a href="" id="edit-name" class="action" ng-click="editNameOfProject()">
          <svg width="11.919px" height="11.918px" viewBox="0 0 11.919 11.918">
            <path d="M11.452,1.283l-0.856-0.856c-0.545-0.624-1.559-0.624-2.182,0L7.4,1.439L0.543,8.296
    c0,0.079-0.077,0.156-0.077,0.234l-0.468,2.961c0,0.156,0,0.234,0.078,0.391c0.078,0,0.234,0.077,0.312,0.077l2.961-0.468
    c0.078,0,0.155,0,0.234-0.077l6.856-6.857c0-0.035,0.018-0.072,0.035-0.114l0.978-0.978C12.076,2.92,12.076,1.906,11.452,1.283z
     M4.011,9.894L2.062,7.945l5.61-5.609l1.948,1.948L4.011,9.894z M3.192,10.712l-2.337,0.391l0.389-2.339l0.272-0.272l1.948,1.948
    L3.192,10.712z M10.984,2.92l-0.778,0.779L8.259,1.751l0.778-0.779c0.312-0.311,0.779-0.311,1.091,0l0.856,0.857
    C11.297,2.141,11.297,2.609,10.984,2.92z"/>
          </svg>
          editar nome
        </a>
        
        <a id="edit-domain" 
           ui-sref="project.domain.info({projectId: project.id })"
           class="action"
           >
          <svg x="0px" y="0px"
	 width="11.919px" height="11.918px" viewBox="0 0 11.919 11.918" enable-background="new 0 0 11.919 11.918" xml:space="preserve">
            <path d="M5.959-0.041c-3.317,0-6,2.683-6,6s2.683,6,6,6c3.318,0,6-2.683,6-6S9.277-0.041,5.959-0.041z M11.218,5.606
              H9.47c-0.062-1.867-0.602-3.481-1.423-4.5C9.816,1.881,11.08,3.604,11.218,5.606z M5.606,0.732v4.874H3.155
              C3.246,3.097,4.283,1.051,5.606,0.732z M5.606,6.312v4.874c-1.323-0.318-2.36-2.364-2.451-4.874H5.606z M6.312,11.186V6.312h2.451
              C8.672,8.821,7.636,10.866,6.312,11.186z M6.312,5.606V0.733c1.323,0.319,2.359,2.364,2.451,4.874H6.312z M3.888,1.098
              C3.057,2.104,2.51,3.72,2.447,5.606H0.702C0.841,3.597,2.11,1.869,3.888,1.098z M0.702,6.312h1.746
              c0.064,1.882,0.634,3.515,1.493,4.531C2.137,10.083,0.842,8.342,0.702,6.312z M8.032,10.819c0.829-1.005,1.376-2.621,1.438-4.508
              h1.747C11.079,8.32,9.81,10.048,8.032,10.819z"/>
          </svg>
          editar domínio
        </a>
        
      </div>
      <h4>criado em <b>{{project.createdDate | date : "dd MMM yyyy',' H:mm"}}</b></h4>
      <h4 class="no-margin">última atualização <b>{{project.createdDate | date : "dd MMM yyyy',' H:mm"}}</b></h4>
    </div>

  </div>
  
  <!-- draggable area -->
  <div class="drop-to-new-project-container">
    <div class="drop-to-new-project" file-drop-area="uploadNewVersion($files)">
      
      <div class="upload-img"></div>
 
      <h3 class="default">arraste o projeto para atualizar</h3>
      <h3 class="while-dragging">solte aqui</h3>
    </div>
  </div>
  
</div>









<!--
<div>project: {{ project.id }}</div>
    <h1>{{ project.safeName }}</h1>

    <div>
      <h2>project domains</h2>
      <button ng-click="addDomainToProject()">add domain</button>
      <ul>
        <li ng-repeat="domain in project.domains">
          <h3>{{ domain.name }}</h3>
        </li>
      </ul>
    </div>
-->
