<div class="content">
  <h2 translate="betaAuth.accessBetaVersion"></h2>
  
  <form ng-submit="submitToken()">

    <div
      class="field-container"
      ng-class="{'error': errorMessage}">
      <label translate="betaAuth.insertAccessCode"></label><br>
      <input
        type="password"
        placeholder="{{ 'betaAuth.accessCode' | translate }}"
        ng-model="betaToken">
      <div ng-if="errorMessage" class="field-error-message">
        {{ errorMessage }}
      </div>
    </div>
    
    <button
      class="ngdialog-button ngdialog-button-primary"
      translate="betaAuth.submit">
    </button>

  </form>
  
  <div class="loading-state" ng-class="{'active':loading}">
    <div class="spinner"></div>
  </div>
</div>