<div class="content">
  <h2>Acesse a versão beta da habemus!</h2>
  
  <form ng-submit="submitToken()">

    <div
      class="field-container"
      ng-class="{'error': errorMessage}">
      <label>insira seu código de acesso</label><br>
      <input
        type="password"
        placeholder="código de acesso"
        ng-model="betaToken">
      <div ng-if="errorMessage" class="field-error-message">
        {{ errorMessage }}
      </div>
    </div>
    
    <button class="ngdialog-button ngdialog-button-primary">
      enviar
    </button>

  </form>
  
  <div class="loading-state" ng-class="{'active':loading}">
    <div class="spinner"></div>
  </div>
</div>