#project {

  .file-tree {

    // the root has no margins nor padding
    #tree-root {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }

    .file-drop-target {
      opacity: 0.3;
    }

    // wrapper of contents of a directory
    .directory-contents {
      list-style: none;
      margin: 0 0 0 20px;
      padding: 0 0 0 0;

      &.hidden {
        min-height: 0px;
        max-height: 0px;
        overflow: hidden;
      }

      &.empty {
        height: 100px;
        background-color: red;
      }
    }

    // a given listed entry
    .entry {
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: #efefef;
      }

      &.entry-directory {
        background-color: lightblue;
      }

      &.entry-file {
        background-color: lightred;
      }
    }
  }
}