#project {

  .file-tree {

    // the root has no margins nor padding
    #tree-root {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }

    .file-drop-target {
      opacity: 0.3;
    }

    // wrapper of contents of a directory
    .directory-contents {
      list-style: none;
      margin: 0 0 0 20px;
      padding: 0 0 0 0;

      &.hidden {
        min-height: 0px;
        max-height: 0px;
        overflow: hidden;
      }

      &.empty {
        height: 100px;
        background-color: red;
      }
    }

    // a given listed entry
    .entry {
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: #efefef;
      }

      &.entry-directory {
        background-color: lightblue;
      }

      &.entry-file {
        background-color: lightred;
      }
    }
  }
  
  width: 100%;
  margin-top: 68px; // 68px from header-height
  
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
  #project-menu {
    background-color: @habemus-gray-dark;
    width: 200px;
    position: fixed;
    top: 68px;
    bottom: 0;
    
    ul {
      li {
        
        a {
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          color: @habemus-off-white;
          font-size: 16px;
          line-height: 52px;
          padding-left: 40px; // TODO get same margin of header
          display: block;
          transition: all 0.3s ease;
          
          &:hover{
            color: @habemus-green-dark;
//            background-color: @habemus-green-light;
//            border-right: 8px solid @habemus-green-dark;
          }
          
          &.active {
            color: @habemus-dark;
            background-color: @habemus-green-light;
          }
        }
      }
    }
  }
  
  #project-content {
    margin-left: 224px;
    margin-top: 24px;
  }
  
}

h1 {
  
  a {
    text-decoration: none;
    color: @habemus-gray-medium;
    transition: all 0.3s ease;
    
    &:hover {
      color: @habemus-dark;
    }
  }
  
  img.arrow-right {
    padding: 0 8px;
  }
}

