<div id="project">

  <div>project: {{ project.id }}</div>
  <h1>{{ project.name }}</h1>

  <div 
    class="file-tree"
    ui-tree="uiTreeOptions"
    ng-hide="project.filesystem.length === 0"
    file-drop-container>
    <ul
      id="tree-root"
      class="directory-contents"
      ui-tree-nodes
      ng-model="project.filesystem"
      ng-class="{ empty: project.filesystem.isEmpty }"
      file-drop-area="uploadFiles(project.filesystem, $files)">
      <li
        ng-repeat="item in project.filesystem.items"
        ui-tree-node
        collapsed="true"
        ng-include="'views/project/partials/item-template.html'">
      </li>
    </ul>
  </div>
</div>