<div id="project">
  
  <div id="project-menu">
    <ul>
      <li><a ui-sref="project.general({ projectId: project.id })" 
             ui-sref-active="active"
             translate="project.general"
             data-intro-name="habemus-menu-general"
             >geral</a></li>
      <!-- <li><a ui-sref="project.files({ projectId: project.id })" 
             ui-sref-active="active" translate="project.files">arquivos</a></li> -->
      <li><a ui-sref="project.history({ projectId: project.id })" 
             ui-sref-active="active"
             translate="project.history"
             data-intro-name="habemus-menu-history">histórico</a></li>
      <li><a ui-sref="project.domain.info({ projectId: project.id })" 
             ui-sref-active-if="project.domains" 
             translate="project.domain"
             data-intro-name="habemus-menu-domains">domínio</a></li>
    </ul>
  </div>

  <div id="project-content" ui-view="tab" ng-show="project.id"></div>
  
</div>