<div class="body-content">
  
  <h1>Meus projetos</h1>

  <ul id="projects">
    
    <li class="shadow">
      <div class="drop-to-new-project" file-drop-area="createProject($files)">

        <div class="upload-img">
        </div>
        
        <h3 class="default">arraste a pasta <br>de um novo projeto</h3>
        <h3 class="while-dragging">solte aqui</h3>
      </div>
    </li>
    
    <li ng-repeat="project in currentUserProjects" class="shadow">
      <div ng-click="navigateToProject(project.objectId)" class="each-project-content">
        <h2>{{ project.name }}</h2>
        <a href="http://{{ project.safeName }}.habemus.xyz/index.html" target="_blank">http://{{ project.safeName }}.habemus.xyz</a>
        
<!-- printscreen - let commented until its available -->
<!--
        <div class="project-preview-img">
          <img src="../../resources/img/printscreen-3.png">
          <div class="on-hover">
            <div class="button">editar
            </div>
          </div>
          
        </div>
-->
        <h4>criado em <b>{{project.createdAt | date : "dd MMM yyyy',' H:mm"}}</b></h4>
        
          <!-- temporary button - delete once printscreen is available-->
          <div class="button temporary">editar</div>

      </div>
    </li>
    
  </ul>
</div>