<div class="body-content-dashboard">
  
  <h1 translate="dashboard.myProjects"></h1>
  
  <h2 translate="dashboard.subTitle"></h2>

  <ul id="projects">
    
    <!-- directory file input and file drop browsers -->
    <li
      class="shadow"
      ng-if="browser.isChrome"
      data-intro-name="create-project"
      ng-click="openNewProjectDialog()">
      <div
        class="drop-to-new-project"
        file-drop="createProject($files, $rootDir)">
        <div class="upload-img"></div>
        <h3 class="default">
          <span translate="dashboard.createNewProject"></span>
        </h3>
        <h3 class="while-dragging" translate="dashboard.dropHere"></h3>
      </div>
    </li>

    <!-- for browsers that do not support directory upload -->
    <li
      class="shadow"
      ng-if="!browser.isChrome"
      data-intro-name="create-project"
      ng-click="openNewProjectDialog()">
      <div
        class="drop-to-new-project"
        file-drop="createProject($files, $rootDir)">
        
        <div class="upload-img"></div>
        
        <h3 class="default">
          <span translate="dashboard.createNewProject"></span>
        </h3>
        <h3 class="while-dragging" translate="dashboard.dropHere"></h3>
      </div>
    </li>
    
    <li ng-repeat="project in projects" class="shadow">
      <div ng-click="navigateToProject(project.code)" class="each-project-content">
        <h2>{{ project.name }}</h2>
        <a
          ng-click="$event.stopPropagation();"
          ng-href="{{ project.code | urlWebsiteHabemusDomain}}"
          target="_blank">{{ project.code | urlWebsiteHabemusDomain }}</a>
        <div class="project-preview-img">
          <img
            ng-src="{{ project.activeVersion.screenshotURL }}"
            err-src="resources/img/screenshot-placeholder.png">
          <div class="on-hover">
            <div class="button" translate="dashboard.editProject"></div>
          </div>
          
        </div>

        <h4>
          <span translate="dashboard.updatedAt"></span>
          <b>{{project.updatedAt | date : "dd MMM yyyy',' H:mm"}}</b>
        </h4>
      </div>
    </li>
    
  </ul>
</div>