<div class="body-content-dashboard">
  
  <h1 translate="dashboard.myProjects"></h1>

  <ul id="projects">
    
    <li class="shadow">
      <div class="drop-to-new-project" file-drop-area="createProject($files, $rootDir)">

        <div class="upload-img">
        </div>
        
        <h3 class="default">
          <span translate="dashboard.dragProjectDirectory1"></span>
          <br>
          <span translate="dashboard.dragProjectDirectory2"></span>
        </h3>
        <h3 class="while-dragging" translate="dashboard.dropHere"></h3>
      </div>
    </li>
    
    <li ng-repeat="project in currentUserProjects" class="shadow">
      <div ng-click="navigateToProject(project.objectId)" class="each-project-content">
        <h2>{{ project.name }}</h2>
        <a ng-click="$event.stopPropagation();" ng-href="http://{{ project.safeName }}.habemus.website" target="_blank">http://{{ project.safeName }}.habemus.website</a>
        
<!-- printscreen - let commented until its available -->
<!--
        <div class="project-preview-img">
          <img src="../../resources/img/printscreen-3.png">
          <div class="on-hover">
            <div class="button">editar
            </div>
          </div>
          
        </div>
-->
        <h4>
          <span translate="dashboard.createdAt"></span>
          <b>{{project.createdAt | date : "dd MMM yyyy',' H:mm"}}</b>
        </h4>
        
        <!-- temporary button - delete once printscreen is available-->
        <div class="button centered temporary" translate="dashboard.editProject"></div>

      </div>
    </li>
    
  </ul>
</div>