<div class="nav-title" ng-click="goBack()">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
       height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
    <polyline fill="none" stroke="#6D6D6D" stroke-miterlimit="10" points="10.315,2.602 0.96,12.14 10.315,21.678 			"/>
    <line fill="none" stroke="#6D6D6D" stroke-miterlimit="10" x1="0.96" y1="12.141" x2="23.478" y2="12.141"/>
  </svg>
  <p>editar domínio</p>
</div>

<a href="http://{{ domain.hostname }}" target="_blank" class="">http://{{ domain.hostname }}</a>

<div class="margin-bottom">
  <p>Este domínio é personalizado.</p>
  <p>Administrado por um provedor de domínios externo.</p>
</div>

<div class="button secundary centered margin-bottom" ui-sref="project.domain.dns({ domain: domain, inProgress: false })">ver configurações DNS</div>

<div class="button secundary centered margin-bottom" ng-click="disconnectDomain()">desconectar domínio personalizado</div>