<p translate="projectDomain.info.youCanUseHabemusDomain"></p>
<p translate="projectDomain.info.youCanUseCustomDomain"></p>
<br>
<p translate="projectDomain.info.projectDomains"></p>

<!-- user-custom domain -->
<div
  ng-repeat="domainRecord in project.domainRecords"
  class="domain-item"
  ng-class="{ pending: (domainRecord.status_ !== 'active') }"
  ui-sref="project.domain.detail({ domain: domainRecord })">
  <div class="domain-content">
    <span class="domain-url">http://{{ domainRecord.hostname }}</span>
    <span translate="projectDomain.info.customDomain"></span>
    <span class="domain-url-pending" ng-show="domainRecord.status_ !== 'active'">
      ({{ ('projectDomain.info.' + (domainRecord.status_ || 'pending')) | translate }})
    </span>
  </div>
  <div>
    <svg version="1.1" x="0px" y="0px"
       width="10px" height="16px" viewBox="0 0 10 16" enable-background="new 0 0 10 16" xml:space="preserve">
      <polyline fill="none" stroke="#A3A3A2" stroke-width="2" stroke-miterlimit="10" points="1.6,14.933 8.4,8.001 1.6,1.067 	"/>
    </svg>
  </div>
</div>
<!-- user-custom domain -->

<!-- habemus-safe-name domain -->
<div class="domain-item" ui-sref="project.domain.rename" >
  <div class="domain-content">
    <span class="domain-url">http://{{ project.safeName }}.habemus.website</span>
    <span translate="projectDomain.info.habemusDomain"></span>
  </div>
  <div>
    <svg version="1.1" x="0px" y="0px"
       width="10px" height="16px" viewBox="0 0 10 16" enable-background="new 0 0 10 16" xml:space="preserve">
      <polyline fill="none" stroke="#A3A3A2" stroke-width="2" stroke-miterlimit="10" points="1.6,14.933 8.4,8.001 1.6,1.067   "/>
    </svg>
  </div>
</div>
<!-- habemus-safe-name domain -->


<div class="button centered" ui-sref="project.domain.connect" translate="projectDomain.info.connectCustomDomain"></div>