<div class="content">
  <h2 translate="accountPasswordReset.resetPassword"></h2>

  <form ng-submit="changePassword()">

    <div
      class="field-container"
      ng-class="{'error': newPasswordErrorMessage }">
      <label translate="accountPasswordReset.newPassword"></label><br>
      <input
        type="password"
        name="password"
        placeholder="{{ 'accountPasswordReset.newPassword' | translate }}"
        ng-model="newPassword"
        ng-blur="validatePassword()">
      <div class="field-error-message">
        {{ newPasswordErrorMessage }}
      </div>
    </div>

    <div
      class="field-container"
      ng-class="{'error': newPasswordConfirmErrorMessage }">
      <label translate="accountPasswordReset.newPasswordConfirm"></label><br>
      <input
        type="password"
        name="password-confirmation"
        placeholder="{{ 'accountPasswordReset.newPasswordConfirm' | translate }}"
        ng-model="newPasswordConfirm"
        ng-blur="validatePasswordConfirm()">
      <div class="field-error-message">
        {{ newPasswordConfirmErrorMessage }}
      </div>
    </div>
    
    <button
      type="submit"
      class="ngdialog-button ngdialog-button-primary"
      translate="accountPasswordReset.confirm">
    </button>
    <button
      type="button"
      class="ngdialog-button ngdialog-button-secondary"
      ng-click="closeThisDialog()"
      translate="accountPasswordReset.cancel">
    </button>
  </form>
  
  <div class="loading-state" ng-class="{'active':loading}">
    <div class="spinner"></div>
  </div>
</div>