<div class="content">
  <h2>Redefinir senha da sua conta</h2>

  <form ng-submit="changePassword()">
  
<!--     <div
      class="field-container"
      ng-class="{'error': newPasswordErrorMessage }">
      <label>old password</label><br>
      <input
        type="password"
        name="password"
        placeholder="password"
        ng-model="oldPassword">
      <div class="field-error-message">
        {{ newPasswordErrorMessage }}
      </div>
    </div> -->
    
    <div
      class="field-container"
      ng-class="{'error': newPasswordErrorMessage }">
      <label>new password</label><br>
      <input
        type="password"
        name="password"
        placeholder="password"
        ng-model="newPassword"
        ng-blur="validatePassword()">
      <div class="field-error-message">
        {{ newPasswordErrorMessage }}
      </div>
    </div>

    <div
      class="field-container"
      ng-class="{'error': newPasswordConfirmErrorMessage }">
      <label>confirm new password</label><br>
      <input
        type="password"
        name="password-confirmation"
        placeholder="confirm password"
        ng-model="newPasswordConfirm"
        ng-blur="validatePasswordConfirm()">
      <div class="field-error-message">
        {{ newPasswordConfirmErrorMessage }}
      </div>
    </div>
    
    <button type="submit" class="ngdialog-button ngdialog-button-primary">
      confirmar nova senha
    </button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">
      cancelar
    </button>
  </form>
  
  <div class="loading-state" ng-class="{'active':loading}">
    <div class="spinner"></div>
  </div>
</div>