<div class="content">

  <div ng-show="step === 'reset'">

    <h2 translate="betaPasswordReset.resetPassword"></h2>

    <form ng-submit="changeBetaPassword()">

      <div
        class="field-container"
        ng-class="{'error': newPasswordErrorMessage }">
        <label translate="betaPasswordReset.newPassword"></label><br>
        <input
          type="password"
          name="password"
          ng-model="newPassword"
          ng-blur="validatePassword()"
          placeholder="{{ 'betaPasswordReset.newPassword' | translate }}">
        <div class="field-error-message">{{ newPasswordErrorMessage }}</div>
      </div>

      <div
        class="field-container"
        ng-class="{'error': newPasswordConfirmErrorMessage }">
        <label translate="betaPasswordReset.confirmNewPassword"></label><br>
        <input
          type="password"
          name="password-confirmation"
          ng-model="newPasswordConfirm"
          placeholder="{{ 'betaPasswordReset.confirmNewPassword' | translate }}">
        <div class="field-error-message">{{ newPasswordConfirmErrorMessage }}</div>
      </div>
      
      <button
        type="submit"
        class="ngdialog-button ngdialog-button-primary"
        translate="betaPasswordReset.submit">
      </button>
    </form>
    
    <div class="loading-state" ng-class="{'active':loading}">
      <div class="spinner"></div>
    </div>

  </div>

  <div ng-show="step === 'welcome'">
    <p>{{ ngDialogData.welcomeMessage }}</p>

    <a
      href="."
      class="button ngdialog-button ngdialog-button-primary"
      translate="betaPasswordReset.start">
    </a>

  </div>
</div>