<div class="content">
  <h2>Desconectar domínio do seu projeto</h2>
  
  <p>Tem certeza que deseja desconectar o domínio <b>{{domain.name}}</b> do seu projeto?</p>
  <p>Essa ação não pode ser desfeita.</p>
  <p>Você pode conectá-lo novamente no futuramente.</p>
  
  <button class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">cancelar</button>
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="confirm()">desconectar domínio</button>
  
  <div class="loading-state" ng-class="{'active':loading}">
      <div class="spinner"></div>
  </div>
</div>
