<div class="content">
  <h2>Renomeie o seu projeto</h2>
  
  <p>Você pode alterar o nome do projeto a qualquer momento.</p>
  <p>Para que o domínio habemus também seja alterado, selecione a opção abaixo.</p>
  
  <form ng-submit="editName()">
    <p>
      <label>
        <input type="checkbox" name="renameDomain" value="true" ng-model="renameDomain">
        renomear também o domínio <br><b>{{ project.safeName }}.habemus.website</b>
      </label>
    </p>
    <p style="color: #E29A27">
      <span>Atenção:</span>
      Ao renomear o domínio, o link para o seu projeto será alterado e o link antigo não funcionará mais.
    </p>
    
    <div class="input-button">
      <input placeholder="{{ project.name }}" ng-model="projectName">
      <div class="button secundary" ng-click="editName()">renomear</div>
    </div>

    <div>{{ error }}</div>
  </form>
  
  <div class="loading-state" ng-class="{'active':loading}">
      <div class="spinner"></div>
  </div>
</div>
