<div class="content">
  <h2 translate="projectRename.renameYourProject"></h2>
  
  <p translate="projectRename.renameExplain1"></p>
  <p translate="projectRename.renameExplain2"></p>
  
  <form ng-submit="editName()">
    <p>
      <label>
        <input type="checkbox" name="renameDomain" value="true" ng-model="renameDomain">
        <span translate="projectRename.alsoRenameDomain"></span>
        <br><b>{{ project.safeName }}.habemus.website</b>
      </label>
    </p>
    <p style="color: #E29A27">
      <span translate="projectRename.warning"></span>
    </p>
    
    <div class="input-button">
      <input autofocus placeholder="{{ project.name }}" ng-model="projectName">
      <div class="button secundary" ng-click="editName()" translate="projectRename.rename"></div>
    </div>

    <div>{{ error }}</div>
  </form>
  
  <div class="loading-state" ng-class="{'active':loading}">
      <div class="spinner"></div>
  </div>
</div>
