<!--
<div ng-if="currentUser">
  Welcome, {{ currentUser.email }}
</div>

<nav>
  <a ng-href="#/">dashboard</a>
  <a ng-href="#/login">login</a>

  <button ng-click="logOut()">logout</button>
</nav>
-->

<div id="header">
  <div id="header-content">
    
    <a href="index.html" id="logo">
      <img id="logo-light" src="../../resources/img/logo-light.svg">
    </a>
        
    <div ng-if="currentUser" ng-click="toggleMenu()" id="user-menu" ng-class="{ active: menuIsOpen }">
      <div id="user">
        {{ currentUser.name }}
      </div>
      <div id="arrow-menu">
        <img id="logo-light" src="../../resources/img/arrow-down-2.svg">
        <ul id="menu" class="shadow">
          <li><a href="#/">meus projetos</a></li>
          <li><a href="#/account">minha conta</a></li>
          <li><a href="" ng-click="logOut()">sair</a></li>
        </ul>
      </div>
    </div>
    
  </div>
</div>