@import './bower_components/bootstrap/less/variables.less';

@import './bower_components/bootstrap/less/mixins.less';

@import './bower_components/bootstrap/less/tooltip.less';

@import './less/reset.less';

@import './less/variables.less';

@import './less/ng-dialog-theme-habemus.less';

@import './views/header/styles.less';

@import './views/dashboard/styles.less';

@import './views/account/styles.less';

@import './views/project/styles.less';

@import './views/project-general/styles.less';

@import './views/project-history/styles.less';

@import './views/project-domain/styles.less';

html {
  min-width: 768px;
  // max-width: 1366px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: @habemus-off-white;
}

#drop-area {
  height: 40px;
  border: 2px darkred dashed;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: @habemus-dark;
  margin-bottom: 32px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: @habemus-dark;
  margin-bottom: 8px;
}

h3 {
  font-size: 14px;
  color: @habemus-gray-dark;
  margin-bottom: 14px;
}

h4 {
  font-size: 12px;
  color: @habemus-gray-dark;
  margin-bottom: 12px;
}

p {
  font-size: 14px;
  color: @habemus-gray-dark;
}

b {
  font-weight: bold;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.button, a.button {
  text-decoration: none;
  display: inline-block; // left-centered
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0 24px;
  line-height: 50px;
  background-color: @habemus-green-light;
  color: @habemus-dark;
  border: 1px solid @habemus-green-light;
  text-align: center;
  margin: 0 16px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    background-color: @habemus-green-dark;
    border: 1px solid @habemus-green-dark;
  }
}

.centered {
  display: block;
  margin: 0 auto;
}

// button secondary (gray)
.secundary {
  background-color: @habemus-gray-medium;
  color: @habemus-off-white;
  border: 1px solid @habemus-gray-medium;
  
  &:hover {
    background-color: @habemus-gray-dark;
    border: 1px solid @habemus-gray-dark;
  }
}

// form field container
.field-container {
  margin-bottom: 32px;

  label {
    font-size: 14px;
  }

  input {
    height: 36px;
    font-size: 14px;
    padding: 0 8px;
    margin: 4px 0;
    border: 1px solid @habemus-gray-medium;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="file"] {
    padding: 4px 0 0 0;
    height: 24px;
    border: none;
  }

  textarea {
    height: 72px;
    font-size: 14px;
    padding: 8px;
    margin: 4px 0 -2px 0;
    border: 1px solid @habemus-gray-medium;
    width: 100%;
    box-sizing: border-box;
  }
  
  .field-error-message {
    display: none;
  }

  &.error {
    input {
      border: 1px solid @habemus-error;
    }

    textarea {
      border: 1px solid @habemus-error;
    }
    
    .field-error-message {
      display: block;

      color: @habemus-error;
      font-size: 12px;
    }
  }
}

.max-width {
  max-width: 500px;
}

.input-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  
  input {
    height: 52px;
    font-size: 14px;
    padding: 0 8px;
    margin: 4px 0;
    border: 1px solid @habemus-gray-light;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .button {
    margin: 0;
  }
}

.input {
  margin-bottom: 32px;
  
  input {
    height: 52px;
    font-size: 14px;
    padding: 0 8px;
    margin: 4px 0;
    border: 1px solid @habemus-gray-light;
    box-sizing: border-box;
    width: 100%;
  }
}

.actions {

  display: table;

  a.action {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: @habemus-dark;
    transition: all 0.3s ease;
    line-height: 1;

    margin-right: 32px;
    margin-bottom: 32px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    svg {
      fill: @habemus-gray-dark;
      width: 16px;
      height: 16px;
      padding-right: 4px; 
    }

    &:hover {
      color: @habemus-gray-dark;

      svg {
        fill: @habemus-green-dark;
      }
    }
  }
}

/* Specify styling for bootstrap tooltip contents */
.tooltip-inner {
  font-family: "Open Sans", sans-serif;
  max-width: 200px;
  padding: 4px 8px;
  color: @habemus-off-white;
  background-color: @habemus-dark;
  border-radius: 0px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: @habemus-dark;
}

.tooltip.in {
  filter: alpha(opacity=100);
  opacity: 1;
}


.loading-state {

  visibility: hidden;
  opacity: 0;
  height: 0;

  transition: opacity 0.3s linear;

  &.active {
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(245, 245, 245, 0.8);
    
    visibility: visible;
    opacity: 1;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 30;
    
    .spinner {
      width: 80px;
      height: 80px;
      background-color: @habemus-green-light;

      margin: 40px auto;
      animation: sk-rotateplane 1.2s infinite ease-in-out;
    }
    
    .message {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      color: @habemus-dark;
    }

    @keyframes sk-rotateplane {
      0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      } 
      50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      } 
      100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
  }
}

#feedback-section {
  position: fixed;
  right: 20px;
  bottom: 0;
  z-index: 1;
  background-color: #FFF;
  // min-width: 330px;
  // max-width: 420px;
  width: 300px;
  
  .box-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 12px 24px;
    font-size: 16px;
    background-color: #FFF;
    cursor: pointer;
    
    transition: all 0.3s ease;
    
    .box-icon-open {
      display: block;
      width: 26px;
      height: 26px;
      margin-left: 16px;
      background: url("resources/img/icon-feedback-gray.svg") no-repeat center;
      cursor: pointer;
      
      transition: background 0.3s ease;
    }
    
    &:hover {
      .box-icon-open {
        background: url("resources/img/icon-feedback-green.svg") no-repeat center;
      }
    }
  }
  
  .box-content {
    max-height: 0px;
    padding: 0px;
    background-color: #FFF;
    font-size: 14px;
    
    transition: all 0.3s ease;

    .field-container {
      margin-bottom: 24px;
    }

    .button {
      font-size: 14px;
    }
  }
  
  &.active {
    
    .box-title {
      
      background-color: @habemus-off-white;
      
      .box-icon-close {
        display: block;
        width: 26px;
        height: 26px;
        margin-left: 16px;
        background: url("resources/img/close-normal.svg") no-repeat center;
        cursor: pointer;
        
        &:hover {
          background: url("resources/img/close-hover.svg") no-repeat center;
          cursor: pointer;
        }
      }
    }
    
    .box-content {
      max-height: 300px;
      padding: 12px 24px 24px 24px; 
    }
  }
}

#delete-project-feedback-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  h2 {
    margin-bottom: 0;
  }
  
  img {
    margin-right: 8px;
  }
}

.intro-style {
  p {
    font-family: "Montserrat", sans-serif;
  }
}