<!DOCTYPE html>
<html
  ng-app="habemus-dashboard"
  ng-controller="ApplicationCtrl"
  file-drop-container>
  <head>
    <title ng-bind="pageTitle"></title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
    
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="resources/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="resources/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="resources/favicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="resources/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="resources/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="resources/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resources/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/favicon/favicon-16.png">
    <link rel="apple-touch-icon" href="resources/favicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="resources/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="resources/favicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="resources/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="resources/favicon/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="resources/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="resources/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="resources/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="resources/favicon/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="resources/favicon/favicon-144.png">
    <meta name="msapplication-config" content="resources/favicon/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->
    
    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600|Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- build:css habemus.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/ng-dialog/css/ngDialog.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ng-dialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" type="text/css" href="bower_components/intro.js/introjs.css">
    <!-- <link rel="stylesheet" type="text/css" href="bower_components/intro.js/introjs-rtl.css"> -->
    <link rel="stylesheet" type="text/css" href="index.bundle.css">
    <!-- endbuild -->    
  </head>
  <body>

    <section ui-view="header" id="header-section" ng-cloak>
    </section>

    <section ui-view="body" id="body-section" ng-cloak>
    </section>
    <!-- 
    <div id="feedback-section" class="shadow" ng-class="{ active: boxIsOpen }" ng-cloak data-intro-name="send-feedback">
      <div class="box-title" ng-click="openBoxFeedback()">
        <div ng-show="boxIsOpen" translate="feedback.hearYou"></div>
        <div ng-hide="boxIsOpen" translate="feedback.sendUsYourFeedback"></div>
        <div class="box-icon-open" ng-hide="boxIsOpen" ></div>
        <div class="box-icon-close" ng-show="boxIsOpen" ng-click="closeBoxFeedback(); $event.stopPropagation()"></div>
      </div>
      <div class="box-content">
        <form id="feedback-form" ng-submit="submitFeedback()"  method="post">
          
          <div
            class="field-container">
            <label translate="feedback.whatDoYouThink"></label><br>
            <textarea
              type="text"
              name="message"
              placeholder="{{ 'feedback.ideaPlaceholder' | translate }}"
              ng-model="message">
            </textarea>
          </div>
            
          <div class="field-container">
            <label translate="feedback.attachImage"></label><br>
            <input
              type="file"
              name="file"
              file-model="file"
              id="file-upload"
            >
          </div>
          
          <button class="button" translate="feedback.submit"></button>
          
          <span class="feedback-message">{{ resultMessage }}</span>
        </form>
      </div>
    </div>
 -->
    <!-- build:js habemus.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-file-model/angular-file-model.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
    <script src="bower_components/intro.js/intro.js"></script>
    <script src="bower_components/angular-clipboard/angular-clipboard.js"></script>
    <script src="index.bundle.js"></script>
    <!-- endbuild -->

  </body>
</html>