<div class="content">
  <h2>{{ ngDialogData.message }}</h2>
  
  <form ng-submit="logIn()">

    <div
      class="field-container">
      <label translate="email"></label><br>
      <input
        type="text"
        name="email"
        placeholder="{{ 'auth.usernamePlaceholder' | translate }}"
        ng-model="credentials.username">
    </div>

    <div
      class="field-container"
      ng-class="{'error': errorMessage}">
      <label translate="password"></label><br>
      <input
        type="password"
        name="password"
        placeholder="{{ 'auth.password' | translate }}"
        ng-model="credentials.password">
      <div ng-if="errorMessage" class="field-error-message">
        {{ errorMessage }}
      </div>
    </div>
    
    <button
      class="ngdialog-button ngdialog-button-primary"
      translate="auth.login">
    </button>
  </form>

  <div class="loading-state" ng-class="{'active':loading}">
    <div class="spinner"></div>
  </div>
</div>