<div id="project-history-content">
  <h1>
    <a href="#/" translate="projectHistory.myProjects"></a>  
    <img class="arrow-right" src="resources/img/arrow-right.svg">  
    <span class="project-name" ng-click="editNameOfProject()">{{ project.name }} </span> 
    <span class="section-name">(<span translate="projectHistory.history"></span>)</span>

    <span ng-show="loading" translate="projectHistory.loading">loading</span>
  </h1>
  
  <div class="main-content">
    <table id="history-table">
      <tr class="table-header">
        <th translate="projectHistory.versionLabel"></th>
        <th translate="projectHistory.versionDeployedAt"></th>
        <th translate="projectHistory.versionUrl"></th> 
        <th></th>
        <th></th>
        <th>status</th>
        <th></th>
      </tr>
      <tr class="table-row-body" ng-repeat="version in projectVersions | orderBy: 'createdAt':true">
        <td>{{ version.code }}</td>
        <td>{{ version.createdAt | date : "dd MMM yyyy',' HH:mm" }}</td>
        <td>
          <!--
            for the latest version
            we may supply the production url directly instead of the version url
          -->
          <a
            target="_blank"
            ng-if="$index === 0"
            href="{{ project.code | urlWebsiteHabemusDomain }}"
            uib-tooltip="{{ 'projectHistory.visitVersion' | translate }}">
            {{ project.code | urlWebsiteHabemusDomain }}
          </a>          <a
            target="_blank"
            ng-if="$index !== 0"
            href="{{ project.code | urlWebsiteHabemusDomain: version.code }}"
            uib-tooltip="{{ 'projectHistory.visitVersion' | translate }}">
            {{ project.code | urlWebsiteHabemusDomain: version.code }}
          </a>
        </td> 
        <td class="padding-right">
          <!--
            versions are always ordered by createdAt DESC,
            so that the first version in the array is always the latest one
          -->
          <span
            class="current"
            ng-if="$index === 0"
            uib-tooltip="{{ 'projectHistory.currentTooltip' | translate }}"
            translate="projectHistory.currentVersion">
          </span>
          <span
            class="restore"
            ng-if="$index !== 0"
            ng-click="restoreVersion(version.code)"
            uib-tooltip="{{ 'projectHistory.restoreTooltip' | translate }}"
            translate="projectHistory.restoreVersion">
          </span>
        </td>
        <td>
          <button class="download" ng-click="downloadVersion(version.code, 'src')">
            <img src="resources/img/icon-download.svg">
            <span
              uib-tooltip="{{ 'projectHistory.downloadTooltip' | translate }}"
              translate="projectHistory.downloadVersion">
            </span>
          </button>
          <button ng-show="version.buildStatus.value === 'succeeded'" class="download" ng-click="downloadVersion(version.code, 'dist')">
            <img src="resources/img/icon-download.svg">
            <span translate="projectHistory.downloadDist"></span>
          </button>
        </td>
        <td>
          {{ version.buildStatus.value }}
        </td>
        <td>
          <button ng-if="$index === 0 && version.buildStatus.value !== 'succeeded'" ng-click="scheduleVersionBuild(version.code)" translate="projectHistory.compile">
          </button>
        </td>
      </tr>
    </table>
  </div>
 
  <!-- draggable area -->
  <div class="drop-to-new-project-container">
    <div class="drop-to-new-project" file-drop="createVersion($files)">
      
      <input
        ng-if="browser.isChrome"
        type="file"
        file-change="createVersion($files)"
        webkitdirectory
        directory
        multiple>
      <!-- for browsers that do not support directory upload -->
      <input
        ng-if="!browser.isChrome"
        type="file"
        accept="application/zip"
        file-change="createVersion($files)">

      <div class="upload-img"></div>
      <h3
        ng-if="browser.isChrome"
        class="default"
        translate="projectHistory.dragDirectoryToUpdate">
      </h3>
      <h3
        ng-if="!browser.isChrome"
        class="default"
        translate="projectHistory.dragZipToUpdate">
      <h3 class="while-dragging" translate="projectHistory.dropHere"></h3>
    </div>
  </div>  
  
</div>
