<div id="project-history-content">
  <h1>
    <a href="#/" translate="projectHistory.myProjects"></a>  
    <img class="arrow-right" src="resources/img/arrow-right.svg">  
    <span class="project-name" ng-click="editNameOfProject()">{{ project.name }} </span> 
    <span class="section-name">(<span translate="projectHistory.history"></span>)</span>
  </h1>
  
  <div class="main-content">
    <table id="history-table">
      <tr class="table-header">
        <th translate="projectHistory.versionLabel"></th>
        <th translate="projectHistory.versionDeployedAt"></th>
        <!-- <th translate="projectHistory.versionUrl"></th>  -->
        <!-- <th></th> -->
        <th></th>
      </tr>
      <tr class="table-row-body" ng-repeat="version in projectVersions | orderBy:'+':true">
        <td>{{ version.detail.name }}</td>
        <td>{{ version.createdAt | date : "dd MMM yyyy',' HH:mm" }}</td>
<!--         <td>
          <a
            target="_blank"
            href="http://{{ version.detail.name }}.{{ project.safeName }}.habemus.website"
            uib-tooltip="{{ 'projectHistory.visitVersion' | translate }}">
            http://{{ version.detail.name }}.{{ project.safeName }}.habemus.website
          </a>
        </td>  -->
<!--         <td class="padding-right">
          <span
            class="restore"
            ng-if="version.detail.name !== project.activeVersion.name"
            ng-click="restoreProjectVersion(version.detail.name)"
            uib-tooltip="{{ 'projectHistory.restoreTooltip' | translate }}"
            translate="projectHistory.restoreVersion">
          </span>
          <span
            class="current"
            ng-if="version.detail.name === project.activeVersion.name"
            uib-tooltip="{{ 'projectHistory.currentTooltip' | translate }}"
            translate="projectHistory.currentVersion">
          </span>
        </td> -->
        <td class="download" ng-click="downloadProjectVersion(version._id)">
          <img src="resources/img/icon-download.svg">
          <span
            uib-tooltip="{{ 'projectHistory.downloadTooltip' | translate }}"
            translate="projectHistory.downloadVersion">
          </span>
        </td>
      </tr>
    </table>
  </div>
 
  <!-- draggable area -->
  <div class="drop-to-new-project-container">
    <div class="drop-to-new-project" file-drop="uploadNewVersion($files)">
      
      <input
        ng-if="browser.isChrome"
        type="file"
        file-change="uploadNewVersion($files)"
        webkitdirectory
        directory
        multiple>
      <!-- for browsers that do not support directory upload -->
      <input
        ng-if="!browser.isChrome"
        type="file"
        accept="application/zip"
        file-change="uploadNewVersion($files)">

      <div class="upload-img"></div>
      <h3
        ng-if="browser.isChrome"
        class="default"
        translate="projectHistory.dragDirectoryToUpdate">
      </h3>
      <h3
        ng-if="!browser.isChrome"
        class="default"
        translate="projectHistory.dragZipToUpdate">
      <h3 class="while-dragging" translate="projectHistory.dropHere"></h3>
    </div>
  </div>  
  
</div>
