<div id="project-history-content">
  <h1>
    <a href="#/">meus projetos</a>  
    <img class="arrow-right" src="resources/img/arrow-right.svg">  
    <span class="project-name" ng-click="editNameOfProject()">{{ project.name }} </span> 
    <span class="section-name">(histórico)</span>
  </h1>
  
  <div class="main-content">
    <table id="history-table">
      <tr class="table-header">
        <th>label</th>
        <th>deployed at</th>
        <th>url</th> 
        <th></th>
        <th></th>
      </tr>
      <tr class="table-row-body" ng-repeat="version in project.versions | orderBy:'+':true">
        <td>{{ version.name }}</td>
        <td>{{ version.createdAt | date : "dd MMM yyyy',' HH:mm" }}</td>
        <td>
          <a target="_blank" href="http://{{ version.name }}.{{ project.safeName }}.habemus.website" uib-tooltip="visit version">
            http://{{ version.name }}.{{ project.safeName }}.habemus.website
          </a>
        </td> 
        <td class="padding-right">
          <span class="restore" ng-if="version.name !== project.activeVersion.name" ng-click="restoreProjectVersion(version.name)" uib-tooltip="restoring will generate a new version based on this one">restore</span>
          <span class="current" ng-if="version.name === project.activeVersion.name" uib-tooltip="this is current online version">current</span>
        </td>
        <td class="download" ng-click="downloadProjectVersion(version.name)">
          <img src="resources/img/icon-download.svg">
          <span uib-tooltip="download this version">download</span>
        </td>
      </tr>
    </table>
  </div>
 
  <!-- draggable area -->
  <div class="drop-to-new-project-container">
    <div class="drop-to-new-project" file-drop-area="uploadNewVersion($files)">
      <div class="upload-img"></div>
      <h3 class="default">arraste a pasta inteira do projeto para atualizar</h3>
      <h3 class="while-dragging">solte aqui</h3>
    </div>
  </div>  
  
</div>
